<div class="row">
    <div class="col-xs-11">
        <form ng-submit="userSearch()">
            <div class="input-group searchinputfield" id="userfilterinput">
                <input class="form-control input-sm" type="text" placeholder="@user"
                  ng-model="filter.user" ng-click="onFocus()" ng-blur="onBlur()">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-1 searchbtn pull-left padding-search">
        <a href="" class="infobtn" ng-click="showUserFilterInfo()">
             <span class="glyphicon glyphicon-info-sign"></span>
        </a>
    </div>
</div>
