<div ng-controller="GeospatialFilterController">
    <div class="col-xs-8 padin-geo">
        <div class="input-group searchinputfield" id="geospatialfilterinput">
            <input class="form-control input-sm" type="text" ng-model="filterString" ng-keypress="onKeyPress($event)" ng-model="geospatialfilterInput" ng-click="onFocus()" ng-blur="onBlur()">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
    <div class="col-xs-4 padin-geo">
        <span class="searchbtn pull-left">
            <button class="btn btn-primary btn-sm" type="button">Search</button>
        </span>
        <span class="searchbtn padin-geo">
            <a href="" class="infobtn" ng-click="showInfo()">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
        </span>
    </div>
</div>
