<div ng-controller="UserFilterController">
    <div class="col-md-11">
        <form ng-submit="userSearch()">
            <div class="input-group searchinputfield" id="userfilterinput">
                <input class="form-control input-sm" type="text" placeholder="@user" ng-model="userfilterInput" ng-click="onFocus()" ng-blur="onBlur()">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
        </div>
        <div class="col-md-1">
            <span class="input-group-btn searchbtn">
                <button class="btn btn-default btn-sm infobtn" type="button" ng-click="showInfo()">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
            </span>
        </div>
    </div>
</div>
