<div class="row">
    <div class="col-sm-4 col-xs-3 export-slider">
        <div class="row searchtext" ng-class="{'searchtext-focus': focus}">
            <span class="input-group searchinputfield" id="searchinput">
                <input class="md-input input-sm ng-valid ng-not-empty ng-dirty ng-valid-number ng-touched" type="number" placeholder="@user" ng-model="export.numDocuments" ng-blur="focus=false" ng-focus="focus=true">
            </span>
         </div>
    </div>

    <div class="col-sm-8 col-xs-9 export-slider">
        <rzslider rz-slider-model="export.numDocuments" rz-slider-options="export.options"></rzslider>
    </div>
    <div class="col-md-12 results-display">
            <div>
                <label for="focusedInput" class="control-label">
                    Results: <span ng-bind="export.numDocuments"></span> of <span ng-bind="export.options.ceil"></span>
                </label>
                <button class="btn btn-primary pull-right" id="exportbtn" title="EXPORT" type="button" ng-click="startExport()">EXPORT</button>
                <span class="searchbtn">
                    <a href="" class="infobtn" ng-click="showExportInfo()">
                         <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </span>
            </div>
    </div>
</div>
