<div class="row">
    <div class="col-sm-3 col-xs-3">
        <div class="row searchtext" ng-class="{'searchtext-focus': focus}">
            <span class="input-group searchinputfield" id="searchinput">
                <input class="md-input input-sm ng-valid ng-not-empty ng-dirty ng-valid-number ng-touched" type="number" placeholder="@user" ng-model="export.numDocuments" ng-blur="focus=false" ng-focus="focus=true">
            </span>
         </div>
    </div>

    <div class="col-sm-5 col-xs-9 results-display">
              <label for="focusedInput" class="control-label">
                 Results: <span ng-bind="export.numDocuments"></span> of <span ng-bind="export.options.ceil"></span>
              </label>

   </div>
    <div class="col-sm-4">
              <button class="btn btn-primary pull-right col-sm-12" id="exportbtn" title="EXPORT" type="button" ng-click="startExport()">EXPORT</button>
    </div>
    <div class="col-sm-8 export-slider">
            <div>
                <rzslider rz-slider-model="export.numDocuments" rz-slider-options="export.options"></rzslider>
           </div>
      </div>
      <div class="col-sm-4 export-slider">
             <div>
                <button class="btn btn-primary pull-right col-sm-12" id="exportbtn" title="RESET" type="button" ng-click="reset()">RESET</button>
                <span class="searchbtn">
                </span>
            </div>
    </div>
</div>
