    <div class="col-md-12 component-padding">
        <div class="form-horizontal">
            <div class="row">
                <label class="control-label col-md-1">From:</label>
                <div class="col-md-5">
                    <p class="input-group">
                        <input type="text" class="form-control input-sm" uib-datepicker-popup ng-model="dts" is-open="startDate.opened"
                            show-button-bar="false" datepicker-options="dateOptions" ng-required="true"
                            ng-model-options="{timezone: 'UTC'}" ng-change="onChangeDatepicker()" readonly/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <label class="control-label col-md-1">To:</label>
                <div class="col-md-5">
                    <p class="input-group">
                        <input type="text" class="form-control input-sm" uib-datepicker-popup ng-model="dte" is-open="endDate.opened" show-button-bar="false"
                          datepicker-options="dateOptions" ng-required="true" ng-change="onChangeDatepicker()" readonly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 component-padding">
        <div class="row">
          <div class="col-md-12">
              <form ng-submit="onSubmitDateText()" style="display: inline;">
                  <div class="form-inline" style="display: inline;">
                      <div class="form-group">
                          <label for="focusedInput" class="control-label">Date:</label>
                          <input id="focusedInput" class="form-control input-sm" type="text" ng-model="dateString" style="min-width: 300px;">
                      </div>
                  </div>
              </form>
              <span class="searchbtn pull-right">
                  <a href="" class="infobtn" ng-click="showInfo()">
                       <span class="glyphicon glyphicon-info-sign"></span>
                  </a>
              </span>
          </div>
        </div>
    </div>

    <div class="col-md-12 component-padding">
        <time-histogram barId="inbar"></time-histogram>
        <div style="width: 400px";>
          <rzslider  rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
        </div>
    </div>
