<div class="col-xs-10 padding-search">
    <div class="input-group searchinputfield" id="searchinput">
        <input class="form-control input-sm" type="text" placeholder="Enter keyword" ng-keypress="onKeyPress($event)"
          ng-model="filter.text" ng-click="onFocus()" ng-blur="onBlur()">
        <span class="input-group-btn">
           <button ng-click="doSearch()" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search"></i></button>
        </span>

     </div>
</div>
<div class="col-xs-2 padding-search">
    <span class="searchbtn">
        <button class="btn btn-primary btn-sm" type="button" ng-click="resetSearchInput()">Reset</button>
    </span>

    <span class="searchbtn">
        <a href="" class="infobtn" ng-click="showtoolbarSearchInfo()">
             <span class="glyphicon glyphicon-info-sign"></span>
        </a>
    </span>
</div>
