.md-input {
    order: 2;
    display: inline;
    margin-top: 0;
    background: none;
    padding: 2px 2px 4px;
    border-width: 0px;
    line-height: 26px;
    height: 30px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    min-width: 30px;
    box-sizing: border-box;
    float: left;

    color: rgba(0,0,0,0.87);
    border-color: rgba(0,0,0,0.12);
}

.md-input:focus {
    outline: none;
    // padding-bottom: 6px;
}
.border-search {
    border: 0;
}
