<div class="col-xs-11 padding-search">
    <div class="input-group searchinputfield" id="geospatialfilterinput">
        <input class="form-control input-sm" type="text" ng-model="filter.geo" ng-keypress="onKeyPress($event)" ng-click="onFocus()" ng-blur="onBlur()">
        <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
        </span>
    </div>
</div>
<div class="col-xs-1 padding-search">
    <span class="searchbtn padding-search">
        <a href="" class="infobtn" ng-click="showGeospatialInfo()">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>
    </span>
</div>
