.tweet:hover {
    background-color: #ebf3f9;
}
.tweet {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    position: relative;
    min-height: 51px;
    padding: 10px 15px;
    margin: 0 5px 0 5px;
    list-style: none;
}

.tweet-component {
    overflow-y: auto;
    margin:-10px 0 -10px 0;
}

.height-tweet {
    height: 260px;
    overflow-y: auto;
}

li .tweet {
  list-style: none;
}

.list-item-text h3 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    margin: 0;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #292f33;
}

.list-item-text h4 {
    font-size: 12px;
    letter-spacing: .01em;
    margin: 3px 0 1px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.list-item-text p{
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .01em;
    margin: 0;
    line-height: 1.6em;
    color: #2e6da4;
}

.no-info {
    font-size: 200%;
    text-align: center;
    color: #888;
}
.dl-horizontal dt {
   width: 110px;
   color: #337ab7;
   font-weight: 200;
}
.dl-horizontal dd {
   margin-left: 120px;
   font-weight: 500;
}
.list-group {
   margin-bottom: 0px;
}
.list-group-item {
    padding: 9px 15px;
}
