.reset-btn {
    position: fixed;
    bottom: 15px;
    margin-left: 305px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    outline: none;
    font-weight: 300;
    letter-spacing: 1.3px;
}
@media (min-width: 800px) and (max-width:1200px){
          .reset-btn {
              position: fixed;
              bottom: 25px;
              margin-left: 295px;
              box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
              outline: none;
              font-weight: 300;
              letter-spacing: 1.3px;
          }
}
@media (max-width:800px){
          .reset-btn {
              position: fixed;
              bottom: 13px;
              right: 13px;
              box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
              outline: none;
              font-weight: 300;
              letter-spacing: 1.3px;
          }
}
